<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="32px" class="icon" viewBox="0 0 24 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>placeholder</title>
    <g id="symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="header" transform="translate(-1332.000000, -71.000000)" fill="#333333" fill-rule="nonzero">
            <g id="placeholder" transform="translate(1332.000000, 71.000000)">
                <path d="M12,0 C5.382,0 0,5.382 0,12 C0,20.318 10.832,31.246 11.292,31.708 C11.488,31.902 11.744,32 12,32 C12.256,32 12.512,31.902 12.708,31.708 C13.168,31.246 24,20.318 24,12 C24,5.382 18.618,0 12,0 Z M12,29.554 C9.612,26.998 2,18.354 2,12 C2,6.486 6.486,2 12,2 C17.514,2 22,6.486 22,12 C22,18.348 14.388,26.998 12,29.554 Z" id="Shape"></path>
                <path d="M12,6 C8.692,6 6,8.692 6,12 C6,15.308 8.692,18 12,18 C15.308,18 18,15.308 18,12 C18,8.692 15.308,6 12,6 Z M12,16 C9.794,16 8,14.206 8,12 C8,9.794 9.794,8 12,8 C14.206,8 16,9.794 16,12 C16,14.206 14.206,16 12,16 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>